{% extends "whitegarden/layout/base.html" %} 
{% block title %}
Floor 3
{% endblock %}
{% block content %}
<div class="row" style="margin-top: 65px">
  <!-- BLock 1 -->
  <div class="d-flex justify-content-center shadow-lg ">
    <div class="col p-3">
        <div class="card text-white mb-1 gx-1 shadow-lg">
          <div class="card-header text-center bg-light fs-1" style="color: black">
            สถานะการใช้พลังงาน ของตึกชั้นที่ 3
          </div>
          <div class="card-body bg-warning" style="color: black">
            <div class="row mt-1">
              <div class="col">
                <div class="card">
                  <h5 class="card-header text-center">พลังงานรวมของชั้น 3</h5> 
                    <p id="kwhmainf3" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>   
                </div>
              </div>
            </div> 
             <!-- topic 2  -->
             <div class="row mt-1">
                <div class="col">
                  <div class="card">
                    <h5 class="card-header text-center">ห้อง</h5>
                      <div class="row m-3">
                          <div class="col">
                              <div id ="bgwalkwayf3" class="card shadow-lg">
                                  <h5 class="card-header text-center">ไฟทางเดิน</h5>
                                  <p id="kwhwalkwayf3" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>      
                          </div>
                          <div class="col">
                              <div id ="bgroom301" class="card shadow-lg">
                                  <h5 class="card-header text-center">301</h5>
                                  <p id="kwhroom301" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>   
                          </div>   
                          <div class="col">
                            <div id ="bgroom302" class="card shadow-lg">
                                <h5 class="card-header text-center">302</h5>
                                <p id="kwhroom302" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>                    
                      </div>  
                      <div class="row m-3">
                          <div class="col">
                              <div id ="bgroom303" class="card shadow-lg">
                                  <h5 class="card-header text-center">303</h5>
                                  <p id="kwhroom303" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>      
                          </div>
                          <div class="col">
                              <div id ="bgroom304" class="card shadow-lg">
                                  <h5 class="card-header text-center">304</h5>
                                  <p id="kwhroom304" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>   
                          </div>
                          <div class="col">
                            <div id ="bgroom305" class="card shadow-lg">
                                <h5 class="card-header text-center">305</h5>
                                <p id="kwhroom305" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                      </div> 
                      <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom306" class="card shadow-lg">
                                <h5 class="card-header text-center">306</h5>
                                <p id="kwhroom306" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom307" class="card shadow-lg">
                                <h5 class="card-header text-center">307</h5>
                                <p id="kwhroom307" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom308" class="card shadow-lg">
                              <h5 class="card-header text-center">308</h5>
                              <p id="kwhroom308" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div>  
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom309" class="card shadow-lg">
                                <h5 class="card-header text-center">309</h5>
                                <p id="kwhroom309" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom310" class="card shadow-lg">
                                <h5 class="card-header text-center">310</h5>
                                <p id="kwhroom310" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom311" class="card shadow-lg">
                              <h5 class="card-header text-center">311</h5>
                              <p id="kwhroom311" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div> 
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom312" class="card shadow-lg">
                                <h5 class="card-header text-center">312</h5>
                                <p id="kwhroom312" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom313" class="card shadow-lg">
                                <h5 class="card-header text-center">313</h5>
                                <p id="kwhroom313" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom314" class="card shadow-lg">
                              <h5 class="card-header text-center">314</h5>
                              <p id="kwhroom314" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div> 
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom315" class="card shadow-lg">
                                <h5 class="card-header text-center">315</h5>
                                <p id="kwhroom315" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom316" class="card shadow-lg">
                                <h5 class="card-header text-center">316</h5>
                                <p id="kwhroom316" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom317" class="card shadow-lg">
                              <h5 class="card-header text-center">317</h5>
                              <p id="kwhroom317" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div>
                  </div>
                </div>
              </div>           
          </div>
        </div>
      </div>  
  </div>
</div>
{% endblock content%}
