{% extends "whitegarden/layout/base.html" %} 
{% block title %}
Floor 4
{% endblock %}
{% block content %}
<div class="row" style="margin-top: 65px">
  <!-- BLock 1 -->
  <div class="d-flex justify-content-center shadow-lg ">
    <div class="col p-3">
        <div class="card text-white mb-1 gx-1 shadow-lg">
          <div class="card-header text-center bg-light fs-1" style="color: black">
            สถานะการใช้พลังงาน ของตึกชั้นที่ 4
          </div>
          <div class="card-body bg-warning" style="color: black">
            <div class="row mt-1">
              <div class="col">
                <div class="card">
                  <h5 class="card-header text-center">พลังงานรวมของชั้น 4</h5> 
                    <p id="kwhmainf4" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>   
                </div>
              </div>
            </div> 
             <!-- topic 2  -->
             <div class="row mt-1">
                <div class="col">
                  <div class="card">
                    <h5 class="card-header text-center">ห้อง</h5>
                      <div class="row m-3">
                          <div class="col">
                              <div id ="bgwalkwayf4" class="card shadow-lg">
                                  <h5 class="card-header text-center">ไฟทางเดิน</h5>
                                  <p id="kwhwalkwayf4" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>      
                          </div>
                          <div class="col">
                              <div id ="bgroom401" class="card shadow-lg">
                                  <h5 class="card-header text-center">401</h5>
                                  <p id="kwhroom401" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>   
                          </div>   
                          <div class="col">
                            <div id ="bgroom402" class="card shadow-lg">
                                <h5 class="card-header text-center">402</h5>
                                <p id="kwhroom402" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>                    
                      </div>  
                      <div class="row m-3">
                          <div class="col">
                              <div id ="bgroom403" class="card shadow-lg">
                                  <h5 class="card-header text-center">403</h5>
                                  <p id="kwhroom403" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>      
                          </div>
                          <div class="col">
                              <div id ="bgroom404" class="card shadow-lg">
                                  <h5 class="card-header text-center">404</h5>
                                  <p id="kwhroom404" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>   
                          </div>
                          <div class="col">
                            <div id ="bgroom405" class="card shadow-lg">
                                <h5 class="card-header text-center">405</h5>
                                <p id="kwhroom405" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                      </div> 
                      <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom406" class="card shadow-lg">
                                <h5 class="card-header text-center">406</h5>
                                <p id="kwhroom406" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom407" class="card shadow-lg">
                                <h5 class="card-header text-center">407</h5>
                                <p id="kwhroom407" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom408" class="card shadow-lg">
                              <h5 class="card-header text-center">408</h5>
                              <p id="kwhroom408" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div>  
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom409" class="card shadow-lg">
                                <h5 class="card-header text-center">409</h5>
                                <p id="kwhroom409" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom410" class="card shadow-lg">
                                <h5 class="card-header text-center">410</h5>
                                <p id="kwhroom410" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom411" class="card shadow-lg">
                              <h5 class="card-header text-center">411</h5>
                              <p id="kwhroom411" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div> 
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom412" class="card shadow-lg">
                                <h5 class="card-header text-center">412</h5>
                                <p id="kwhroom412" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom413" class="card shadow-lg">
                                <h5 class="card-header text-center">413</h5>
                                <p id="kwhroom413" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom414" class="card shadow-lg">
                              <h5 class="card-header text-center">414</h5>
                              <p id="kwhroom414" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div> 
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom415" class="card shadow-lg">
                                <h5 class="card-header text-center">415</h5>
                                <p id="kwhroom415" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom416" class="card shadow-lg">
                                <h5 class="card-header text-center">416</h5>
                                <p id="kwhroom416" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom417" class="card shadow-lg">
                              <h5 class="card-header text-center">417</h5>
                              <p id="kwhroom417" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div>
                  </div>
                </div>
              </div>           
          </div>
        </div>
      </div>  
  </div>
</div>
{% endblock content%}
