{% extends "whitegarden/layout/base.html" %} 
{% block title %}
Floor 2
{% endblock %}
{% block content %}
<div class="row" style="margin-top: 65px">
  <!-- BLock 1 -->
  <div class="d-flex justify-content-center shadow-lg ">
    <div class="col p-3">
        <div class="card text-white mb-1 gx-1 shadow-lg">
          <div class="card-header text-center bg-light fs-1" style="color: black">
            สถานะการใช้พลังงาน ของตึกชั้นที่ 2
          </div>
          <div class="card-body bg-warning" style="color: black">
            <div class="row mt-1">
              <div class="col">
                <div class="card">
                  <h5 class="card-header text-center">พลังงานรวมของชั้น 2</h5> 
                    <p id="kwhmainf2" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>   
                </div>
              </div>
            </div> 
             <!-- topic 2  -->
             <div class="row mt-1">
                <div class="col">
                  <div class="card">
                    <h5 class="card-header text-center">ห้อง</h5>
                      <div class="row m-3">
                          <div class="col">
                              <div id ="bgwalkwayf2" class="card shadow-lg">
                                  <h5 class="card-header text-center">ไฟทางเดิน</h5>
                                  <p id="kwhwalkwayf2" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>      
                          </div>
                          <div class="col">
                              <div id ="bgroom201" class="card shadow-lg">
                                  <h5 class="card-header text-center">201</h5>
                                  <p id="kwhroom201" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>   
                          </div>   
                          <div class="col">
                            <div id ="bgroom202" class="card shadow-lg">
                                <h5 class="card-header text-center">202</h5>
                                <p id="kwhroom202" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>                    
                      </div>  
                      <div class="row m-3">
                          <div class="col">
                              <div id ="bgroom203" class="card shadow-lg">
                                  <h5 class="card-header text-center">203</h5>
                                  <p id="kwhroom203" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>      
                          </div>
                          <div class="col">
                              <div id ="bgroom204" class="card shadow-lg">
                                  <h5 class="card-header text-center">204</h5>
                                  <p id="kwhroom204" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                              </div>   
                          </div>
                          <div class="col">
                            <div id ="bgroom205" class="card shadow-lg">
                                <h5 class="card-header text-center">205</h5>
                                <p id="kwhroom205" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                      </div> 
                      <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom206" class="card shadow-lg">
                                <h5 class="card-header text-center">206</h5>
                                <p id="kwhroom206" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom207" class="card shadow-lg">
                                <h5 class="card-header text-center">207</h5>
                                <p id="kwhroom207" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom208" class="card shadow-lg">
                              <h5 class="card-header text-center">208</h5>
                              <p id="kwhroom208" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div>  
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom209" class="card shadow-lg">
                                <h5 class="card-header text-center">209</h5>
                                <p id="kwhroom209" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom210" class="card shadow-lg">
                                <h5 class="card-header text-center">210</h5>
                                <p id="kwhroom210" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom211" class="card shadow-lg">
                              <h5 class="card-header text-center">211</h5>
                              <p id="kwhroom211" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div> 
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom212" class="card shadow-lg">
                                <h5 class="card-header text-center">212</h5>
                                <p id="kwhroom212" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom213" class="card shadow-lg">
                                <h5 class="card-header text-center">213</h5>
                                <p id="kwhroom213" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom214" class="card shadow-lg">
                              <h5 class="card-header text-center">214</h5>
                              <p id="kwhroom214" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div> 
                    <div class="row m-3">
                        <div class="col">
                            <div id ="bgroom215" class="card shadow-lg">
                                <h5 class="card-header text-center">215</h5>
                                <p id="kwhroom215" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>      
                        </div>
                        <div class="col">
                            <div id ="bgroom216" class="card shadow-lg">
                                <h5 class="card-header text-center">216</h5>
                                <p id="kwhroom216" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                            </div>   
                        </div>
                        <div class="col">
                          <div id ="bgroom217" class="card shadow-lg">
                              <h5 class="card-header text-center">217</h5>
                              <p id="kwhroom217" class="card-text text-center fs-4 mt-5" style="height: 75px;"></p>
                          </div>   
                      </div>
                    </div>
                  </div>
                </div>
              </div>           
          </div>
        </div>
      </div>  
  </div>
</div>
{% endblock content%}
