{% extends "whitegarden/layout/base.html" %} 
{% block title %}
Home main dashboard
{% endblock %}
{% block content %}
<div class="row" style="margin-top: 65px">
  <!-- BLock 1 ไลน์ 11 -->
  <div class="d-flex justify-content-center shadow-lg ">
    <div class="col p-3">
      <div class="card-header text-center fs-1 pt-1">
       <h1>เดอะไวท์การ์เดน สระบุรี</h1> 
      </div>
        <div class="card text-white mb-3 gx-3 shadow-lg">
          <div class="card-body bg-warning" style="color: black">
            <div class="row mt-3">
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="room"  style="text-decoration: none; color:black;"><img src="/static/img/building.jpg" class="card-img" style="height: 300px; font-size:25px;">SUMMARY</a> 
                    </div>
                </div>
              </div>
            </div>
            <!-- new row 2-->
            <div class="row mt-3">
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="mdb"  style="text-decoration: none; color:black;"><img src="/static/img/mdbroom.jpg" class="card-img" style="height: 250px; font-size:25px;">MDB ROOM</a> 
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="air" style="text-decoration: none; color:black;"><img src="/static/img/air.png" class="card-img" style="height: 250px; font-size:25px;">AIR CONDITIONER</a> 
                    </div>
                </div>
              </div>
            </div>
            <!-- new row 2-->
            <div class="row mt-3">
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="waterstorage" style="text-decoration: none; color:black;"><img src="/static/img/pump.jpg" class="card-img" style="height: 250px; font-size:25px;">WATER STORAGE</a> 
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="floor1" style="text-decoration: none; color:black;"><img src="/static/img/floor1.jpg" class="card-img" style="height: 250px; font-size:25px;">FLOOR 1</a>
                    </div>
                </div>
              </div>
            </div>
            <!-- new row 3-->
            <div class="row mt-3">
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="floor2" style="text-decoration: none; color:black;"><img src="/static/img/floor2.jpg" class="card-img" style="height: 250px; font-size:25px;">FLOOR 2</a>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="floor3" style="text-decoration: none; color:black;"><img src="/static/img/floor3.jpg" class="card-img" style="height: 250px; font-size:25px;">FLOOR 3</a>
                    </div>
                </div>
              </div>
            </div>
            <!-- new row 4-->
            <div class="row mt-3">
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="floor4" style="text-decoration: none; color:black;"><img src="/static/img/floor4.jpg" class="card-img" style="height: 250px; font-size:25px;">FLOOR 4</a>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <div class="card bg-light shadow-lg" >
                      <a href="floor5" style="text-decoration: none; color:black;"><img src="/static/img/floor5.jpg" class="card-img" style="height: 250px; font-size:25px;">FLOOR 5</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
  </div>
</div>
{% endblock content%}
