{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% include "whitegarden/home_white.html" %}
{% else %}
  <div class="d-flex justify-content-center shadow-lg" style="margin-top: 200px;"> 
    <div class="fs-1 text-warning">คุณไม่ได้อยู่ในระบบ หรือ ออกจากระบบเรียบร้อยแล้ว ! กรุณาเข้าสู่ระบบใหม่อีกครั้ง</div> 
  </div>
  <div class="d-flex justify-content-center " style="margin-top: 50px;">
    <button type="button" class="btn btn-warning fs-2 btn-lg shadow-lg"><a href="{% url 'login' %}" style="text-decoration: none;">เข้าสู่ระบบ !</a></button>
  </div>
  <footer class="text-center" style="margin-top: 100px;">
    <p style="color:white">ติอต่อขอ username และ password ได้ที่ Lobby โรงแรมไวท์การ์เด้น</p>
    <p style="color:white">Create by ANK</p>
  </footer>
{% endif %}
{% endblock %}


